<article class="vh-100 dt w-100 h-25">
     <div class="dtc v-mid tc white ph3 ph4-l">
          <!-- <h1 class="f6 f2-m f-subheadline-l fw6 tc">Vertically centering things in css is easy!</h1> -->
          <a href="#" target="_blank" class="dib ph3 pv2 link f6 dim black ba mb4">
               &nbsp;&nbsp;
               <i class="fab fa-twitter"></i>
               &nbsp;Tweet This&nbsp;&nbsp;
          </a>
          <div class="tc pv4 v-mid">
               <a href="{{ site.baseurl }}" title="sebastianpatron" class="f6 f2-m link db mb4 black ">made by sebastian patron</a>
          </div>
     </div>
</article>