<nav class="pa3 pa4-ns">
     <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="{{site.url}}" title="Home">{{site.name}}</a>
     <div class="tc pb3">
          <a class="link dim gray f6 f5-ns dib mr3" href="{{site.baseurl}}" title="Home">Home</a>
          <a class="link dim gray f6 f5-ns dib mr3" href="{{site.baseurl}}/about" title="About">About</a>
          <a class="link dim gray f6 f5-ns dib mr3" href="{{site.url}}/blog" title="Blog">Blog</a>
          <a class="link dim gray f6 f5-ns dib" href="{{site.baseurl}}/contact" title="Contact">Contact</a>
     </div>
</nav>